<!DOCTYPE html>
<html>
  
<head>
    <title>Select Action</title>
</head>
  
<body>
    <h1>Engine was loaded &</h1>
    <h1>Inverted Indices were constructed successfully</h1>
    <h2>Please Select an Action</h2>
    <form action="/searchForTermSelected" 
      enctype="text/plain" method="POST">
        <input type="submit" value="Search For Term"> 
    </form>
    <form action="/topNSelected" 
      enctype="text/plain" method="POST">
        <input type="submit" value="Top-N"> 
    </form>
</body>
  
</html>