<!DOCTYPE html>
<html>
  
<head>
    <title>Search Results</title>
</head>
  
<body>
    <h2>Top N Frequent Terms</h2>
        <table>
            <tr>
                <th>Term</th>
                <th>Total Frequencies</th> 
            </tr>
            <tr>
                <td> {} </td>
                <td> {} </td> 
            </tr>
        </table>
        <form action="/goBackToSearch" 
            enctype="text/plain" method="POST">
        <input type="submit" value="Go Back To Search"> 
    </form>
</body>
  
</html>